<title>Jake Schmitz</title>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="description" content="Hi! I'm Jake Schmitz, a Software Director at Vail Systems. Check out the blog to learn more about Leadership, Application Development, and Software Engineering." />
<meta name=”robots” content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">