<!doctype html>
<html lang="en">
  <head>
    <title>Jake Schmitz</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div>
          <h1>Jake Schmitz</h1>
        </div>
        <div class="social_icons">
          <a target="_blank" href="https://www.jakeschmitz.com/blog" rel="noreferrer noopener">Blog</a>
          <a target="_blank" href="https://github.com/jschmitz" rel="noreferrer noopener">
            <img src="github-11-16.png" alt="Github Logo" />
          </a>
          <a target="_blank" href="https://twitter.com/jakeschmitz" rel="noreferrer noopener">
            <img src="twitter-16.png" alt="Twitter Logo" />
          </a>
          <a target="_blank" href="https://www.goodreads.com/user/show/18015802-jake-schmitz" rel="noreferrer noopener">
            <img src="goodreads_icon.png" width="16" height="16" />
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/jake-schmitz-745b3b1/" rel="noreferrer noopener">
            <img src="linkedin-6-16.png" />
          </a>
        </div>
      </div>
      <div class="content">
        <div class="copy1">
          <h2>Hi, I'm Jake Schmitz</h2> 
        </div>
        <div class="copy2">
          <p>
            Dad. Husband. Software Engineering Leader.
          </p>
          <p>
            A large portion of my time goes to learning about software, people and health. I'm grateful for all the oppurtunities I have to learn and try out those learnings and I'm excited to share a bit of the journey here.
          </p>
        </div>
        <div class="picture">
          <img src="assets/images/bookshelf.webp" />
        </div>
      </div>
    </div>
    <div>
      <!-- {{ content }} -->
    </div>
  </body>
</html>