<!doctype html>
<html lang="en">
  <head>
    <title>Jake Schmitz</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div>
          <h1>Jake Schmitz</h1>
        </div>
        <div class="social_icons">
          <a href="#">Blog</a>
          <a href="#"><img src="twitter-16.png" /></a>
          <a href="#"><img src="github-11-16.png" /></a>
          <a href="#"><img src="linkedin-6-16.png" /></a>
          <a href="#"><img src="goodreads_icon.jpeg" width="16" height="16" /></a>
        </div>
      </div>
      <div>Cool Picture</div> 
    </div>
    <div>
      {{ content }}
    </div>
  </body>
</html>